.container {
  display: flex; /* or inline-flex */
  justify-content: space-evenly;
}



@keyframes blink {
  to { color: white; }
}
.tab {
  background: orangered;
  font-size: 150%;
  font-family: "Comic Sans MS";
  font-weight: bold;
  border: 3px solid black;

  animation: blink 1s steps(2, start) infinite;

}
